TYPEORM_CONNECTION=postgres
TYPEORM_HOST=localhost
TYPEORM_PORT=5432
TYPEORM_USERNAME=myuser
TYPEORM_PASSWORD=password
TYPEORM_DATABASE=dbname
TYPEORM_ENTITIES=src/entity/*.js
TYPEORM_SUBSCRIBERS=src/subscriber/*.js
TYPEORM_MIGRATIONS=src/migration/*.js
TYPEORM_ENTITIES_DIR=src/entity
TYPEORM_MIGRATIONS_DIR=src/migration
TYPEORM_SUBSCRIBERS_DIR=src/subscriber
DEV=true
PORT=5000
SESSION_SECRET=5^@7*#8#7(#(826*@7))